/* Import google font  */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&family=Poppins:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: relative;
  top: 0;
  z-index: 99;
  width: 100%;
  padding: 1em 2%;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  /* border: 1px solid red; */
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e1e;
  font-family: 'Nunito', sans-serif;
  border-bottom: 1px solid #ffffff38;
  animation: shadowAnimation 3.5s linear infinite;
  position: fixed;
}

.header__logo a {
  text-decoration: none;
}

.header__logo a span {
  font-size: 3em;
  font-weight: 800;
  background: linear-gradient(to right, #18FFFF, #E91E63) padding-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2em;
  gap: 2em;
}

.header__links a {
  position: relative;
  color: #808080;
  font-size: 1.3em;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-decoration: none;
}

.header__links a:hover {
  background: linear-gradient(to right, #18FFFF, #E91E63) padding-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* active link styling  */
.header__links .header__links--active {
  background: linear-gradient(to right, #18FFFF, #E91E63) padding-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header__social {
  display: none;
}



@media screen and (max-width: 768px) {
  .header__logo {
    font-size: 0.65em;
  }

  .header__hamburger-icon {
    display: flex;
  }

  .header #header__nav-links {
    display: none;
  }

  .header__links {
    flex-direction: column;
    margin-right: 0;
  }

  .hero {
    font-size: 12px;


  }

  .headingText {
    text-align: justify;
  }

  .header__links {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    min-width: 18em;
    margin-right: 0;
    padding: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(45deg, #00284e, #7d1900);
  }

  .header__links a:hover {
    background: linear-gradient(to right, #0ae8d6, #e9cb43) padding-box,
      linear-gradient(to right, #e96443, #904e95) border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .header__social {
    display: flex;
    position: absolute;
    bottom: 1em;
  }

  .header__social a img {
    width: 1.5em;
    height: auto;
    cursor: pointer;
  }

  .header__social a:not(:last-child) {
    margin-right: 0.5em;
  }
}

@keyframes shadowAnimation {
  0% {
    box-shadow: 0 0.3125em 5em #d90ae8 36;
  }

  40% {
    box-shadow: 0 0.3125em 8em #ed6442 2e;
  }

  70% {
    box-shadow: 0 0.3125em 8em #43c2e9 30;
  }

  100% {
    box-shadow: 0 0.3125em 5em #d90ae8 36;
  }
}

/* Adding opening down animation to navbar for mobile screens  */
.header__links--animate {
  animation: openingDown 1.5s ease-in-out forwards;
}

.header__links--animate a:nth-child(1) {
  animation: slideLeft 1.5s ease-in-out 0s forwards;
}

.header__links--animate a:nth-child(2) {
  animation: slideLeft 1.5s ease-in-out 0.1s forwards;
}

.header__links--animate a:nth-child(3) {
  animation: slideLeft 1.5s ease-in-out 0.3s forwards;
}

.header__links--animate a:nth-child(4) {
  animation: slideLeft 1.5s ease-in-out 0.4s forwards;
}

@keyframes openingDown {
  0% {
    height: 0;
    right: -100%;
    opacity: 0;
    border-bottom-left-radius: 10em;
  }

  100% {
    height: 100vh;
    right: 0;
    border-top-left-radius: 0;
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    right: -100%;
  }

  100% {
    right: 0;
  }
}

/* Hero section styling  */
.hero {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #1e1e1e;
  color: #ffffff;
  width: 100%;
  height: 25vh;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  padding: 0 2em;
  letter-spacing: 0.5em;
  border-bottom: 1px solid #ffffff38;
}